<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RevealingSplashView.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>RevealingSplashViewSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>834E423A1C7FFC71007F856E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>834E42441C7FFC71007F856E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>834E42581C7FFCB1007F856E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>834E426B1C7FFCB1007F856E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
